@*Header*@
<Container Width="Width.Is100" TextAlignment="TextAlignment.Center">
	<Heading Size="HeadingSize.Is2">
		My Hobbies!
	</Heading>
	<Heading Size="HeadingSize.Is5">
		Aside from programming, I also enjoy drawing and making stickers!
	</Heading>
</Container>

<Divider />

@*Drawing*@
<Heading Size="HeadingSize.Is3" TextAlignment="TextAlignment.Center"><u>Drawing</u></Heading>
<Container Padding="Padding.Is2">
	<Row>
		<Column ColumnSize="ColumnSize.Is6">
			<Image src="portfolioimages/hobbies/snowcats.jpg" Width="Width.Is100" Padding="Padding.Is2" />
			<Image src="portfolioimages/hobbies/cafecats.jpg" Width="Width.Is100" Padding="Padding.Is2" />
			<Image src="portfolioimages/hobbies/chopperbrook.jpg" Width="Width.Is50" Padding="Padding.Is2" />
		</Column>
		<Column ColumnSize="ColumnSize.Is6">
			<Container>
				<Paragraph>
					As one of my rare away-from-screen hobbies, I enjoy drawing!
				</Paragraph>
				<Paragraph>
					I've been drawing since I was a kid and it's a lot of fun! I enjoy drawing cute things, which recently have been cat people and fanart of characters from one of my favorite shows <i>One Piece</i>.
				</Paragraph>
				<Paragraph>
					I also draw for some of my games!
				</Paragraph>
				<Paragraph>
					Paper tools: I draw on cardstock with Tombow brush pens for outlining, and either Tombow colored pencils or Crayola markers for coloring.
				</Paragraph>
				<Paragraph>
					Digital tools: I draw on Photoshop using my Wacom Intuos M tablet.
				</Paragraph>
			</Container>
			<Link To="https://www.tumblr.com/bagelmaster5000" Target="Target.Blank">
			<Div class="clicky-card-link">
				<Card Margin="Margin.Is2">
					<CardBody>
						<CardText>
							<img src="socialicons/tumblr.png" height="30px" width="30px" style="margin: 0px 5px 0px 0px" />
							<Text TextWeight="TextWeight.Bold" VerticalAlignment="VerticalAlignment.Middle">My Tumblr!</Text>
						</CardText>
					</CardBody>
				</Card>
			</Div>
			</Link>
			<Image src="portfolioimages/hobbies/pokemon.jpg" Width="Width.Is100" Padding="Padding.Is2" />
		</Column>
	</Row>
</Container>

<Divider />

@*Stickers*@
<Heading Size="HeadingSize.Is3" TextAlignment="TextAlignment.Center"><u>Sticker Making</u></Heading>
<Container Padding="Padding.Is2" Width="Width.Is100">
	<Paragraph>
		I print stickers for many different local organizations: the Student Game Developer Association, Society of Play, The SpongeBob Club, Women in Animation, and Asian Artists Association! I've been printing stickers for over 2 years and now have a process figured-out for getting the highest quality and most durable stickers (given my equipment).
	</Paragraph>
</Container>
<Container Padding="Padding.Is2" Width="Width.Is75">
	<Figure>
		<FigureImage Source="portfolioimages/hobbies/stickers1.jpg" Rounded />
		<FigureCaption TextAlignment="TextAlignment.Center">
			After printing my stickers using a photo printer, I fix them to this board and apply their acrylic coating outside!
		</FigureCaption>
	</Figure>
	<Figure>
		<FigureImage Source="portfolioimages/hobbies/stickers2.jpg" Rounded />
		<FigureCaption TextAlignment="TextAlignment.Center">
			I cut my stickers using a Brother Scan&Cut, which (unlike other cutters) creates cut patterns itself by scanning the inserted page!
		</FigureCaption>
	</Figure>
	<Figure>
		<FigureImage Source="portfolioimages/hobbies/stickers3.jpg" Rounded />
		<FigureCaption TextAlignment="TextAlignment.Center">
			After cutting the stickers, I usually also make half-cuts on their backs for easy peeling.
		</FigureCaption>
	</Figure>
	<Figure>
		<FigureImage Source="portfolioimages/hobbies/stickers4.jpg" Rounded />
		<FigureCaption TextAlignment="TextAlignment.Center">
			Done!
		</FigureCaption>
	</Figure>
</Container>