@inherits PageBase

@*Header*@
<Container Width="Width.Is100" TextAlignment="TextAlignment.Center">
	<Heading Size="HeadingSize.Is2">
		My Hobbies!
	</Heading>
	<Heading Size="HeadingSize.Is5">
		Aside from programming, I also enjoy drawing and making stickers!
	</Heading>
</Container>

<Divider />

@*Drawing*@
<Heading Size="HeadingSize.Is3" TextAlignment="TextAlignment.Center"><u>Drawing</u></Heading>
<Container Padding="Padding.Is2">
	<Row>
		<Column ColumnSize="ColumnSize.Is6">
			<Image src="portfolioimages/hobbies/snowcats.jpg" Width="Width.Is100" Padding="Padding.Is2" />
			<Image src="portfolioimages/hobbies/cafecats.jpg" Width="Width.Is100" Padding="Padding.Is2" />
			<Image src="portfolioimages/hobbies/chopperbrook.jpg" Width="Width.Is50" Padding="Padding.Is2" />
		</Column>
		<Column ColumnSize="ColumnSize.Is6">
			<Container>
				<Paragraph>
					As one of my rare away-from-screen hobbies, I enjoy drawing!
				</Paragraph>
				<Paragraph>
					I've been drawing since I was a kid and it's a lot of fun! I enjoy drawing cute things, which recently have been cat people and fanart of characters from one of my favorite shows <i>One Piece</i>.
				</Paragraph>
				<Paragraph>
					Paper tools: Tombow brush pens for outlining and either Tombow colored pencils or Crayola markers for coloring.
				</Paragraph>
				<Paragraph>
					Digital tools: Photoshop and a Wacom Intuos M tablet.
				</Paragraph>
			</Container>
			<Link To="https://www.tumblr.com/bagelmaster5000" Target="Target.Blank">
			<Div class="clicky-card-link">
				<Card Margin="Margin.Is2" class="outlined-card">
					<CardBody>
						<Row>
							<Column ColumnSize="ColumnSize.Is2">
								<img style="filter:invert(@GlobalVariables.DarkModeColorInvertPercent)" src="icons/tumblr.png" height="30px" width="30px" />
							</Column>
							<Column ColumnSize="ColumnSize.Is10">
								<Text TextWeight="TextWeight.Bold" VerticalAlignment="VerticalAlignment.Middle">My Tumblr!</Text>
							</Column>
						</Row>
					</CardBody>
				</Card>
			</Div>
			</Link>
			<Image src="portfolioimages/hobbies/pokemon.jpg" Width="Width.Is100" Padding="Padding.Is2" />
		</Column>
	</Row>
</Container>

<Divider />

@*Stickers*@
<Heading Size="HeadingSize.Is3" TextAlignment="TextAlignment.Center"><u>Sticker Making</u></Heading>
<Container Padding="Padding.Is2" Width="Width.Is100">
	<Paragraph>
		I print stickers for many different local organizations, including: the Student Game Developer Association, the Society of Play, SpongeBob Club, Women in Animation, and the Asian Artists Association! I've been printing stickers as a hobby for a couple years now and have gotten pretty good at making high quality and durable stickers.
	</Paragraph>
</Container>
<Container Padding="Padding.Is2">
	<Row>
		<Column ColumnSize="ColumnSize.IsHalf">
			<Figure>
				<FigureImage Source="portfolioimages/hobbies/stickers1.jpg" Rounded />
				<FigureCaption TextAlignment="TextAlignment.Center">
					1. I print my stickers onto sticker paper using a photo printer. Then, I fix them to this board and apply an acrylic coating.
				</FigureCaption>
			</Figure>
		</Column>
		<Column ColumnSize="ColumnSize.IsHalf">
			<Figure>
				<FigureImage Source="portfolioimages/hobbies/stickers2.jpg" Rounded />
				<FigureCaption TextAlignment="TextAlignment.Center">
					2. I cut my stickers using a Brother Scan&Cut DX.
				</FigureCaption>
			</Figure>
		</Column>
		<Column ColumnSize="ColumnSize.IsHalf">
			<Figure>
				<FigureImage Source="portfolioimages/hobbies/stickers3.jpg" Rounded />
				<FigureCaption TextAlignment="TextAlignment.Center">
					3. I also usually half-cut the sticker backs for easy peeling.
				</FigureCaption>
			</Figure>
		</Column>
		<Column ColumnSize="ColumnSize.IsHalf">
			<Figure>
				<FigureImage Source="portfolioimages/hobbies/stickers4.jpg" Rounded />
				<FigureCaption TextAlignment="TextAlignment.Center">
					4. Done!
				</FigureCaption>
			</Figure>
		</Column>
	</Row>
</Container>