@*Header*@
<Container Width="Width.Is50" TextAlignment="TextAlignment.Center">
	<Image src="images/drawing.jpg" Width="Width.Is100" />
	<Heading Size="HeadingSize.Is2">
		Pizza Delivery Bagel
	</Heading>
	<Heading Size="HeadingSize.Is5">
		Chaotic Action-Arcade Pizza Delivery Game
	</Heading>
</Container>

<Divider />

@*About*@
<Heading Size="HeadingSize.Is3" TextAlignment="TextAlignment.Center"><u>About</u></Heading>
<Row Margin="Margin.Is2">
	<Column ColumnSize="ColumnSize.Is8">
		<Paragraph>
			Sample text Sample text Sample text Sample text Sample text Sample textSample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample textSample textSample text Sample text Sample text Sample text
		</Paragraph>
		<Paragraph>
			Sample text Sample text Sample text Sample text Sample text Sample textSample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample textSample textSample text Sample text Sample text Sample text
		</Paragraph>
		<Paragraph>
			Sample text Sample text Sample text Sample text Sample text Sample textSample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample textSample textSample text Sample text Sample text Sample text
		</Paragraph>
	</Column>
	<Column ColumnSize="ColumnSize.Is4">
		<Text>Source: <Text TextWeight="TextWeight.Bold">Closed Source</Text></Text> <br />
		<Text>Date: <Text TextWeight="TextWeight.Bold">June 2022</Text></Text> <br />
		<Text>Team Size: <Text TextWeight="TextWeight.Bold">Solo</Text></Text> <br />
		<Text>Languages and Technologies: <Text TextWeight="TextWeight.Bold">C#, Unity, Wwise, Visual Studio, Git</Text></Text> <br />
		<Text>Platforms: <Text TextWeight="TextWeight.Bold">Windows, Mac, Linux, Android, Society of Play's Arcade Cabinet</Text></Text> <br />

		<Link>
		<Div class="clicky-card-link">
			<Card Margin="Margin.Is2">
				<CardBody>
					<CardText>
						<img src="miscicons/steam.png" height="30px" width="30px" style="margin: 0px 5px 0px 0px" />
						<Text TextWeight="TextWeight.Bold" VerticalAlignment="VerticalAlignment.Middle">Steam!</Text>
					</CardText>
				</CardBody>
			</Card>
		</Div>
		</Link>
		<Link>
		<Div class="clicky-card-link">
			<Card Margin="Margin.Is2">
				<CardBody>
					<CardText>
						<img src="miscicons/google-play.png" height="30px" width="30px" style="margin: 0px 5px 0px 0px" />
						<Text TextWeight="TextWeight.Bold" VerticalAlignment="VerticalAlignment.Middle">Google Play!</Text>
					</CardText>
				</CardBody>
			</Card>
		</Div>
		</Link>
		<Link>
		<Div class="clicky-card-link">
			<Card Margin="Margin.Is2">
				<CardBody>
					<CardText>
						<img src="miscicons/itchio.png" height="30px" width="30px" style="margin: 0px 5px 0px 0px" />
						<Text TextWeight="TextWeight.Bold" VerticalAlignment="VerticalAlignment.Middle">Itch.io!</Text>
					</CardText>
				</CardBody>
			</Card>
		</Div>
		</Link>
	</Column>
</Row>

<Divider />

@*Gallery*@
<Heading Size="HeadingSize.Is3" TextAlignment="TextAlignment.Center"><u>Gallery</u></Heading>
<Container Width="Width.Is75">
	<Carousel Autoplay=false Crossfade Margin="Margin.Is2">
		<CarouselSlide Name="1">
			<Image src="images/drawing.jpg" Display="Display.Block" Width="Width.Is100" />
		</CarouselSlide>
		<CarouselSlide Name="2">
			<Image src="images/drawing.jpg" Display="Display.Block" Width="Width.Is100" />
		</CarouselSlide>
		<CarouselSlide Name="3">
			<Image src="images/drawing.jpg" Display="Display.Block" Width="Width.Is100" />
		</CarouselSlide>
	</Carousel>
</Container>