<Container Width="Width.Is25" TextAlignment="TextAlignment.Center">
	<Link To="projects">
	<Div class="clicky-card-link" style="padding: 5px 0px 0px 0px">
		<Heading Size="HeadingSize.Is6" VerticalAlignment="VerticalAlignment.Middle" style="padding: 10px 5px 5px 5px">
			<Icon Name="IconName.ArrowLeft" /> Back
		</Heading>
	</Div>
	</Link>
</Container>