@inherits LayoutComponentBase

<div class="page">
    <main>
        <article>
            <h1>
                Sammy Mahmoudi
            </h1>
            <h3>
                Programming & Games Portfolio
            </h3>
        </article>
        <div style="text-align:center">
            <NavMenu />
        </div>
		<article class="@CurPageClassName" style="padding: 20px 0px">
			@Body
		</article>
    </main>
</div>
