.home-class { background: lavender; }
.projects-class { background: lightblue; }
.resume-class { background: lightsalmon; }
.contact-class { background: navajowhite; }
.base-class { background: gray; }
