@inherits LayoutComponentBase

<PageTitle>Sammy Mahmoudi</PageTitle>

<div class="page">
    <main>
        <article>
            <h1>
                Sammy Mahmoudi
            </h1>
            <h3>
                Programming & Games Portfolio
            </h3>
        </article>
        <div style="text-align:center">
            <NavMenu />
        </div>
		<article class="@GetCurPageClassName()" style="padding: 20px 0px">
			@Body
		</article>
    </main>
</div>

@code {
    public string GetCurPageClassName() {
        switch (GlobalVariables.CurPageName) {
            case "Home": return "home-class";
            case "Games": return "games-class";
            case "Other": return "other-class";
            case "Resume": return "resume-class";
            case "About": return "about-class";
            case "Contact": return "contact-class";
            default: return "base-class";
        }
    }
}