<span style="float:center">
    <a class="@GetHomeLinkClass()" href="" @onclick="SetPageHome">
        Home
    </a>
    <a class="@GetGamesLinkClass()" href="games" @onclick="SetPageGames">
        Games
    </a>
    <a class="navlink" href="projects">
        Other Projects
    </a>
    <a class="navlink" href="resume">
        Resume
    </a>
    <a class="navlink" href="about">
        About
    </a>
    <a class="navlink" href="contact">
        Contact Me
    </a>
</span>

@code {
    void SetPageHome() => GlobalVariables.CurPageName = "Home";
    void SetPageGames() => GlobalVariables.CurPageName = "Games";

    public string GetHomeLinkClass() {
        if (GlobalVariables.CurPageName == "Home") {
            return "home-link-active";
        }
        else {
            return "home-link";
        }
    }

    public string GetGamesLinkClass() {
        if (GlobalVariables.CurPageName == "Games") {
            return "games-link-active";
        }
        else {
            return "games-link";
        }
    }
}