<span style="float:center">
    <a class="@GetHomeLinkClass()" href="" @onclick="SetPageHome">
        Home
    </a>
    <a class="@GetProjectsLinkClass()" href="projects" @onclick="SetPageProjects">
        Projects
    </a>
    <a class="@GetResumeLinkClass()" href="resume" @onclick="SetPageResume">
        Resume
    </a>
    <a class="@GetContactLinkClass()" href="contact" @onclick="SetPageContact">
        Contact
    </a>
</span>

@code {
    void SetPageHome() {
        switch (GlobalVariables.CurPageName) {
            case "Home": GlobalVariables.PageAnimationSlideDirection = 0; break;
            case "Projects": GlobalVariables.PageAnimationSlideDirection = -1; break;
            case "Resume": GlobalVariables.PageAnimationSlideDirection = -1; break;
            case "Contact": GlobalVariables.PageAnimationSlideDirection = -1; break;
        }

        GlobalVariables.CurPageName = "Home";
    }
    void SetPageProjects() {
        switch (GlobalVariables.CurPageName) {
            case "Home": GlobalVariables.PageAnimationSlideDirection = 1; break;
            case "Projects": GlobalVariables.PageAnimationSlideDirection = 0; break;
            case "Resume": GlobalVariables.PageAnimationSlideDirection = -1; break;
            case "Contact": GlobalVariables.PageAnimationSlideDirection = -1; break;
        }

        GlobalVariables.CurPageName = "Projects";
    }
    void SetPageResume() {
        switch (GlobalVariables.CurPageName) {
            case "Home": GlobalVariables.PageAnimationSlideDirection = 1; break;
            case "Projects": GlobalVariables.PageAnimationSlideDirection = 1; break;
            case "Resume": GlobalVariables.PageAnimationSlideDirection = 0; break;
            case "Contact": GlobalVariables.PageAnimationSlideDirection = -1; break;
        }

        GlobalVariables.CurPageName = "Resume";
    }
    void SetPageContact() {
        switch (GlobalVariables.CurPageName) {
            case "Home": GlobalVariables.PageAnimationSlideDirection = 1; break;
            case "Projects": GlobalVariables.PageAnimationSlideDirection = 1; break;
            case "Resume": GlobalVariables.PageAnimationSlideDirection = 1; break;
            case "Contact": GlobalVariables.PageAnimationSlideDirection = 0; break;
        }

        GlobalVariables.CurPageName = "Contact";
    }

    public string GetHomeLinkClass() => (GlobalVariables.CurPageName == "Home") ? "home-link-active" : "home-link";
    public string GetProjectsLinkClass() => (GlobalVariables.CurPageName == "Projects") ? "projects-link-active" : "projects-link";
    public string GetResumeLinkClass() => (GlobalVariables.CurPageName == "Resume") ? "resume-link-active" : "resume-link";
    public string GetContactLinkClass() => (GlobalVariables.CurPageName == "Contact") ? "contact-link-active" : "contact-link";
}