 nav {
    align-content: center;
    align-items: center;
    float: unset;
}

a {
    text-decoration: none;
    color: black;
    padding: 5px 30px 4px 30px;
    border-radius: 5px 5px 0px 0px;
    transition: .2s ease-out;
}

    a:hover {
        opacity: 0.5;
    }

.home-link { background-color: none; }
.home-link-active { background-color: lavender; }

.projects-link { background-color: none }
.projects-link-active { background-color: lightblue; }

.resume-link { background-color: none }
.resume-link-active { background-color: lightsalmon; }

.contact-link { background-color: none }
.contact-link-active { background-color: navajowhite; }