<span style="float:center">
    <a class="@GetHomeLinkClass()" href="" @onclick="SetPageHome">
        Home
    </a>
    <a class="@GetGamesLinkClass()" href="games" @onclick="SetPageGames">
        Projects
    </a>
    <a class="@GetResumeLinkClass()" href="resume" @onclick="SetPageResume">
        Resume
    </a>
    <a class="@GetContactLinkClass()" href="contact" @onclick="SetPageContact">
        Contact
    </a>
</span>

@code {
    void SetPageHome() => GlobalVariables.CurPageName = "Home";
    void SetPageGames() => GlobalVariables.CurPageName = "Games";
    void SetPageOther() => GlobalVariables.CurPageName = "Other";
    void SetPageResume() => GlobalVariables.CurPageName = "Resume";
    void SetPageAbout() => GlobalVariables.CurPageName = "About";
    void SetPageContact() => GlobalVariables.CurPageName = "Contact";

    public string GetHomeLinkClass() {
        if (GlobalVariables.CurPageName == "Home") {
            return "home-link-active";
        }
        else {
            return "home-link";
        }
    }

    public string GetGamesLinkClass() {
        if (GlobalVariables.CurPageName == "Games") {
            return "games-link-active";
        }
        else {
            return "games-link";
        }
    }

    public string GetOtherLinkClass() {
        if (GlobalVariables.CurPageName == "Other") {
            return "other-link-active";
        }
        else {
            return "other-link";
        }
    }

    public string GetResumeLinkClass() {
        if (GlobalVariables.CurPageName == "Resume") {
            return "resume-link-active";
        }
        else {
            return "resume-link";
        }
    }

    public string GetAboutLinkClass() {
        if (GlobalVariables.CurPageName == "About") {
            return "about-link-active";
        }
        else {
            return "about-link";
        }
    }

    public string GetContactLinkClass() {
        if (GlobalVariables.CurPageName == "Contact") {
            return "contact-link-active";
        }
        else {
            return "contact-link";
        }
    }
}