 nav {
    align-content: center;
    align-items: center;
    float: unset;
}

a {
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    transition: .2s ease-out;
}

    a:active {
        color: white;
    }

    a:hover {
        color: gray;
    }

.home-link {
    background-color: none;
}
.home-link-active {
    background-color: lavender;
}

.games-link {
    background-color: none
}

.games-link-active {
    background-color: lightblue;
}