.about-box {
    background: white;
    padding: 30px;
    height: auto;
    width: 900px;
    border-radius: 10px;
    margin: auto;
}

.about-image {
    float: right;
    margin: 30px;
    height: 250px;
    border-radius: 10px;
}

.about-text {
    text-align: left;
    padding: 0px 30px;
    overflow-wrap: anywhere;
}

@media (max-width: 850px) {
    .about-box {
        width: 100%;
    }

    .about-image {
        float: none;
    }
}