@page "/contact"

<Animate Auto Animation="GlobalVariables.PageAnimation">
	<Container TextAlignment="TextAlignment.Center" Width="Width.Is50">
		<Card Height="Height.Is100" Padding="Padding.Is2">
			<CardBody>
				<Heading Size="HeadingSize.Is3">Contact Me</Heading>

				<Divider />

				<Paragraph>sammymahmoudi@gmail.com</Paragraph>

				<Row>
					<Column ColumnSize="ColumnSize.Is4">
						<Link To="https://github.com/BagelMaster5000" Target="Target.Blank">
						<Div class="clicky-card-link">
							<Image src="socialicons/github.png" />
						</Div>
						</Link>
					</Column>
					<Column ColumnSize="ColumnSize.Is4">
						<Link To="https://www.linkedin.com/in/sammymahmoudi/" Target="Target.Blank">
						<Div class="clicky-card-link">
							<Image src="socialicons/linkedin.png" />
						</Div>
						</Link>
					</Column>
					<Column ColumnSize="ColumnSize.Is4">
						<Link To="mailto:sammymahmoudi@gmail.com">
						<Div class="clicky-card-link">
							<Image src="socialicons/email-outline.png" />
						</Div>
						</Link>
					</Column>
				</Row>
			</CardBody>
		</Card>
	</Container>
</Animate>