@page "/games"

<div style="padding: 30px">
	<h1>Games</h1>

	<div class="projects-grid">
		<div class="project-link-container">
			<img class="project-link-image" src="thumbnails/games/pizzadeliverybagel.gif" />
			<h3 class="project-link-title">Pizza Delivery Bagel</h3>
			<p class="project-link-subtitle">C#, Unity, Wwise</p>
		</div>
		<div class="project-link-container">
			<img class="project-link-image" src="thumbnails/games/pizzadeliverybagel.gif" />
			<h3 class="project-link-title">Pizza Delivery Bagel</h3>
			<p class="project-link-subtitle">C#, Unity, Wwise</p>
		</div>
		<div class="project-link-container">
			<img class="project-link-image" src="thumbnails/games/pizzadeliverybagel.gif" />
			<h3 class="project-link-title">Pizza Delivery Bagel</h3>
			<p class="project-link-subtitle">C#, Unity, Wwise</p>
		</div>
		<div class="project-link-container">
			<img class="project-link-image" src="thumbnails/games/pizzadeliverybagel.gif" />
			<h3 class="project-link-title">Pizza Delivery Bagel</h3>
			<p class="project-link-subtitle">C#, Unity, Wwise</p>
		</div>
		<div class="project-link-container">
			<img class="project-link-image" src="thumbnails/games/pizzadeliverybagel.gif" />
			<h3 class="project-link-title">Pizza Delivery Bagel</h3>
			<p class="project-link-subtitle">C#, Unity, Wwise</p>
		</div>
	</div>
</div>