.clicky-card {
    transition: .2s ease-out;
    border-width: 2px;
    border: dashed;
    border-color: transparent;
}

    .clicky-card:hover {
        opacity: 0.8;
        border-color: black;
        transform: scaleX(1.03) scaleY(1);
    }

    .clicky-card:active {
        opacity: 0.5;
        border-color: transparent;
        transform: scaleX(0.95) scaleY(0.98);
        transition: 0s;
    }
