@page "/"
@using BlazorAnimate

<PageTitle>Index</PageTitle>
	<div style="padding: 30px">
		<h1>About Me</h1>
		<div style="background:white; padding:30px; height:5000px; width:auto; align-content:center; align-items:center; align-self:center">
			<img class="self-picture" style="float:right; padding:0px 30px" src="images/self2.jpg" height="300" />
			<div style="text-align:left; width:800px; padding:0px 30px" >
				<p>
					Hello! My name's Sammy Mahmoudi, I'm a senior computer science student at the University of Texas at Dallas!
				</p>
				<p>
					I work on extra-curricular projects all the time, mostly in the form of programming video games. I work with a variety of people and usually fill the role of team lead and project manager. I use these projects as an excuse to learn new technologies, meet new developers in the community, and also just to have fun creating something! I mostly work with C#, and I’ve worked with both Unity and the .NET framework.
				</p>
				<p>
					I’m also an officer of the game developer student organization at my university, and also founded and ran the SpongeBob Club at my university for 2.5 years!
				</p>
				<p>
					I also do volunteering! I volunteer at a diabetes research organization and a local cat shelter.
				</p>
			</div>
		</div>
	</div>

@code {
	private Animate? myAnim;

	public Index() {
		if (myAnim != null) {
			myAnim.Run();
		}
	}

	void RunAnimation() {
		if (myAnim != null) {
			myAnim.Run();
		}
	}
}