@page "/"
@inherits PageBase

<Animate Auto Animation="GlobalVariables.PageAnimation">
	<Container>
		@*Site Warning*@
@*		<Heading Size="HeadingSize.Is5" TextAlignment="TextAlignment.Center" Margin="Margin.Is2">
			⚠ This website is under construction! ⚠
		</Heading>*@

		<Row>
			<Column ColumnSize="ColumnSize.Is7">
				@*Introduction*@
				<Card Padding="Padding.Is2">
					<CardImage src="images/self1.jpg" Alt="Picture of me with stone cats" />
					<CardBody>
						<CardTitle>
							<Heading Size="HeadingSize.Is5">
								Hello! My name's Sammy Mahmoudi, welcome to my portfolio site 🙂
							</Heading>
						</CardTitle>
						<CardText>
							<Paragraph>
								I'm a senior computer science student and C# developer, and I'm always working on programming projects in my free time! I work with a variety of people and usually fill the roles of lead programmer and project manager. I use these projects as motivation to learn new technologies, meet new people, and create fun things! I pride myself in my clean code, my communication skills, and getting along with others ❤
							</Paragraph>
							<Paragraph>
								I'm also an officer of my university's game developer student organization and founded + ran the SpongeBob Club at my university for 2.5 years!
							</Paragraph>
							<Paragraph>
								I also volunteer at a local diabetes research organization!
							</Paragraph>
							<Paragraph>
								Aside from programming, I enjoy hanging out with friends, drawing, playing with cats, and watching anime.
							</Paragraph>
						</CardText>
					</CardBody>
				</Card>
			</Column>
			<Column ColumnSize="ColumnSize.Is5">
				<Row>
					@*Projects Button Link*@
					<Link To="projects">
					<Div class="clicky-card-link">
						<Card Padding="Padding.Is2" Margin="Margin.Is2">
							<CardImage src="thumbnails/allprojectspreview.gif" Alt="All projects preview gif" />
							<CardBody>
								<CardTitle>
									<Heading Size="HeadingSize.Is6">
										I'm always working on programming projects! (mostly video games)
									</Heading>
								</CardTitle>
							</CardBody>
						</Card>
					</Div>
					</Link>
				</Row>
				<Row>
					@*Hobbies Button*@
					<Div>
						<Div class="clicky-card">
							<Card Padding="Padding.Is2" Margin="Margin.Is2" @onclick="ShowHobbiesPopup">
                                 <CardImage src="images/chopperandluffy.png" Alt="Chopper and Luffy Drawing" />
								<CardBody>
									<CardTitle>
										<Heading Size="HeadingSize.Is6">
											For fun, I like to draw cute things and print stickers!
										</Heading>
									</CardTitle>
								</CardBody>
							</Card>
						</Div>
					</Div>
				</Row>

				<Row>
					@*Contact*@
					<Card Padding="Padding.Is2" Margin="Margin.Is2" TextAlignment="TextAlignment.Center">
						<CardBody>
							<CardTitle>
								<Heading Size="HeadingSize.Is5">Contact Me</Heading>
							</CardTitle>

							<Divider />

							<Paragraph>sammymahmoudi@gmail.com</Paragraph>

							<Row>
								<Column ColumnSize="ColumnSize.Is4">
									<Link To="https://github.com/BagelMaster5000" Target="Target.Blank">
									<Div class="clicky-card-link">
										<img style="filter:invert(@GlobalVariables.DarkModeColorInvertPercent)" src="icons/github.png" />
									</Div>
									</Link>
								</Column>
								<Column ColumnSize="ColumnSize.Is4">
									<Link To="https://www.linkedin.com/in/sammymahmoudi/" Target="Target.Blank">
									<Div class="clicky-card-link">
										<img style="filter:invert(@GlobalVariables.DarkModeColorInvertPercent)" src="icons/linkedin.png" />
									</Div>
									</Link>
								</Column>
								<Column ColumnSize="ColumnSize.Is4">
									<Link To="mailto:sammymahmoudi@gmail.com">
									<Div class="clicky-card-link">
										<img style="filter:invert(@GlobalVariables.DarkModeColorInvertPercent)" src="icons/email-outline.png" />
									</Div>
									</Link>
								</Column>
							</Row>
						</CardBody>
					</Card>
				</Row>
			</Column>
		</Row>
	</Container>
</Animate>

@*Hobbies Popup*@
<Modal @bind-Visible="@hobbiesPopupVisible">
	<ModalContent Size="ModalSize.ExtraLarge">
		<ModalHeader>
			<ModalTitle>Hobbies</ModalTitle>
			<CloseButton />
		</ModalHeader>
		<ModalBody>
			<Blazor_Portfolio_Site.Writeups.Hobbies />
		</ModalBody>
	</ModalContent>
</Modal>

@code {
	private bool hobbiesPopupVisible;
	private void ShowHobbiesPopup() {
		hobbiesPopupVisible = true;
	}
	private void HideHobbiesPopup() {
		hobbiesPopupVisible = false;
	}
}