@page "/"

<Animate Auto Animation="GlobalVariables.PageAnimation">
	<Container>
		<Heading Size="HeadingSize.Is5" TextColor="TextColor.Secondary" TextAlignment="TextAlignment.Center" Margin="Margin.Is2">
			⚠ This website is under construction! ⚠
		</Heading>

		<Row>
			<Column ColumnSize="ColumnSize.Is7">
				<Card Background="Background.White" Padding="Padding.Is2">
					<CardImage src="images/self2.jpg" Alt="Picture of me with stone cats" />
					<CardBody>
						<CardTitle>
							<Heading Size="HeadingSize.Is5">
								Hello! My name's Sammy Mahmoudi, I'm a senior computer science student at the University of Texas at Dallas!
							</Heading>
						</CardTitle>
						<CardText>
							<Paragraph>
								I work on extra-curricular projects all the time, mostly in the form of programming video games. I work with a variety of people and usually fill the role of team lead and project manager. I use these projects as an excuse to learn new technologies, meet new developers in the community, and also just to have fun creating something! I mostly work with C#, and I’ve worked with both Unity and the .NET framework.
							</Paragraph>
							<Paragraph>
								I’m also an officer of the game developer student organization at my university, and also founded and ran the SpongeBob Club at my university for 2.5 years!
							</Paragraph>
							<Paragraph>
								I also do volunteering! I volunteer at a diabetes research organization and a local cat shelter.
							</Paragraph>
						</CardText>
					</CardBody>
				</Card>
			</Column>
			<Column ColumnSize="ColumnSize.Is5">
				<Row>
					<Link To="projects">
						<div class="clicky-card-link">
							<Card Background="Background.White" Padding="Padding.Is2" Margin="Margin.Is2">
								<CardImage src="images/pizzadeliverybagel.gif" Alt="Pizza Delivery Bagel gif" />
								<CardBody>
									<CardTitle>
										<Heading Size="HeadingSize.Is6">
											I work on programming projects all the time (mostly video games)!
										</Heading>
									</CardTitle>
								</CardBody>
							</Card>
						</div>
					</Link>
				</Row>
				<Row>
					<div class="clicky-card">
						<Card Background="Background.White" Padding="Padding.Is2" Margin="Margin.Is2" @onclick="ShowHobbiesPopup">
							<CardImage src="images/drawing.jpg" Alt="Christmas Cats Drawing" />
							<CardBody>
								<CardTitle>
									<Heading Size="HeadingSize.Is6">
										I also enjoy drawing cute things and making stickers as hobbies!
									</Heading>
								</CardTitle>
							</CardBody>
						</Card>
					</div>
				</Row>

				<Row>
					<Card Background="Background.White" Padding="Padding.Is2" Margin="Margin.Is2" TextAlignment="TextAlignment.Center">
						<CardBody>
							<CardTitle>
								<Heading Size="HeadingSize.Is5">
									Contact Me
								</Heading>
							</CardTitle>

							<Divider />

							<Row>
								<Link To="mailto:sammymahmoudi@gmail.com" VerticalAlignment="VerticalAlignment.Middle">
								<Paragraph>
									sammymahmoudi@gmail.com
								</Paragraph>
								</Link>
							</Row>
							<Row>
								<Column ColumnSize="ColumnSize.Is4">
									<Link To="https://github.com/BagelMaster5000" Target="Target.Blank">
									<div class="clicky-card-link">
										<Image src="socialicons/github.png" />
									</div>
									</Link>
								</Column>
								<Column ColumnSize="ColumnSize.Is4">
									<Link To="https://www.linkedin.com/in/sammymahmoudi/" Target="Target.Blank">
									<div class="clicky-card-link">
										<Image src="socialicons/linkedin.png" />
									</div>
									</Link>
								</Column>
								<Column ColumnSize="ColumnSize.Is4">
									<Link To="mailto:sammymahmoudi@gmail.com">
									<div class="clicky-card-link">
										<Image src="socialicons/email-outline.png" />
									</div>
									</Link>
								</Column>
							</Row>
						</CardBody>
					</Card>
				</Row>
			</Column>
		</Row>
	</Container>
</Animate>

<Modal @bind-Visible="@hobbiesPopupVisible">
	<ModalContent Size="ModalSize.ExtraLarge">
		<ModalHeader>
			<ModalTitle>Hobbies</ModalTitle>
			<CloseButton />
		</ModalHeader>
		<ModalBody>
			<Image src="images/drawing.jpg" Alt="Christmas Cats Drawing" Width="Width.Is100"/>
			<Image src="images/drawing.jpg" Alt="Christmas Cats Drawing" Width="Width.Is100"/>
			<Image src="images/drawing.jpg" Alt="Christmas Cats Drawing" Width="Width.Is100"/>
			<Image src="images/drawing.jpg" Alt="Christmas Cats Drawing" Width="Width.Is100"/>
			<Image src="images/drawing.jpg" Alt="Christmas Cats Drawing" Width="Width.Is100"/>
			<Image src="images/drawing.jpg" Alt="Christmas Cats Drawing" Width="Width.Is100"/>
			<Image src="images/drawing.jpg" Alt="Christmas Cats Drawing" Width="Width.Is100"/>
			<Image src="images/drawing.jpg" Alt="Christmas Cats Drawing" Width="Width.Is100"/>
			<Image src="images/drawing.jpg" Alt="Christmas Cats Drawing" Width="Width.Is100"/>
			<Image src="images/drawing.jpg" Alt="Christmas Cats Drawing" Width="Width.Is100"/>
			<Paragraph>
				Test
			</Paragraph>
		</ModalBody>
	</ModalContent>
</Modal>

@code {
	private bool hobbiesPopupVisible;
	private void ShowHobbiesPopup() {
		hobbiesPopupVisible = true;
	}
	private void HideHobbiesPopup() {
		hobbiesPopupVisible = false;
	}
}