@page "/projects"
@inherits PageBase

@*Projects Grid*@
<Animate Auto Animation="GlobalVariables.PageAnimation">
	@*Games*@
	<Container TextAlignment="TextAlignment.Center" Padding="Padding.Is2">
		<Heading Size="HeadingSize.Is3" TextAlignment="TextAlignment.Center"><u>Games</u></Heading>
		<Row VerticalGutter="32">
			@*Pizza Delivery Bagel Button*@
			<Column ColumnSize="ColumnSize.IsHalf">
				<Link To="projects/pizzadeliverybagel">
				<Div class="clicky-card-link">
					<Card Padding="Padding.Is2" Margin="Margin.Is2">
						<CardImage src="thumbnails/games/pizzadeliverybagel.gif" Alt="Pizza Delivery Bagel Thumbnail" />
						<CardBody>
							<CardTitle>
								<Heading Size="HeadingSize.Is5">Pizza Delivery Bagel</Heading>
							</CardTitle>
							<CardText>
								C#, Unity, Wwise, Visual Studio, Git
							</CardText>
						</CardBody>
					</Card>
				</Div>
				</Link>
			</Column>
			<Column ColumnSize="ColumnSize.IsHalf">
				@*Grombcross Button*@
				<Link To="projects/grombcross">
				<Div class="clicky-card-link">
					<Card Padding="Padding.Is2" Margin="Margin.Is2">
						<CardImage src="thumbnails/games/grombcross.gif" Alt="Grombcross Thumbnail" />
						<CardBody>
							<CardTitle>
								<Heading Size="HeadingSize.Is5">Grombcross</Heading>
							</CardTitle>
							<CardText>
								C#, XAML, .NET, WPF, Visual Studio, Git
							</CardText>
						</CardBody>
					</Card>
				</Div>
				</Link>
			</Column>
			<Column ColumnSize="ColumnSize.IsHalf">
				@*Project 9th Monday Button*@
				<Link To="projects/project9thmonday">
				<Div class="clicky-card-link">
					<Card Padding="Padding.Is2" Margin="Margin.Is2">
						<CardImage src="thumbnails/games/project9thmonday.gif" Alt="Project 9th Monday Thumbnail" />
						<CardBody>
							<CardTitle>
								<Heading Size="HeadingSize.Is5">Project 9th Monday</Heading>
							</CardTitle>
							<CardText>
								C#, Unity, Wwise, Visual Studio, Git
							</CardText>
						</CardBody>
					</Card>
				</Div>
				</Link>
			</Column>
			<Column ColumnSize="ColumnSize.IsHalf">
				@*Monkey Man Enclosure Button*@
				<Link To="projects/monkeymanenclosure">
				<Div class="clicky-card-link">
					<Card Padding="Padding.Is2" Margin="Margin.Is2">
						<CardImage src="thumbnails/games/monkeymanenclosure.gif" Alt="Monkey Man Enclosure Thumbnail" />
						<CardBody>
							<CardTitle>
								<Heading Size="HeadingSize.Is5">Monkey Man Enclosure</Heading>
							</CardTitle>
							<CardText>
								C#, Unity, Visual Studio, Git
							</CardText>
						</CardBody>
					</Card>
				</Div>
				</Link>
			</Column>
			<Column ColumnSize="ColumnSize.IsHalf">
				@*The Eaterer Button*@
				<Link To="projects/theeaterer">
				<Div class="clicky-card-link">
					<Card Padding="Padding.Is2" Margin="Margin.Is2">
						<CardImage src="thumbnails/games/theeaterer.gif" Alt="The Eaterer Thumbnail" />
						<CardBody>
							<CardTitle>
								<Heading Size="HeadingSize.Is5">The Eaterer</Heading>
							</CardTitle>
							<CardText>
								C#, Unity, Visual Studio, Git
							</CardText>
						</CardBody>
					</Card>
				</Div>
				</Link>
			</Column>
		</Row>
	</Container>

	@*Other Projects*@
	<Container TextAlignment="TextAlignment.Center" Padding="Padding.Is2">
		<Heading Size="HeadingSize.Is3" TextAlignment="TextAlignment.Center"><u>Other Projects</u></Heading>
		<Row VerticalGutter="32">
			<Column ColumnSize="ColumnSize.IsHalf">
				@*Continuous Glucose Monitor Nightlight*@
				<Link To="projects/cgmnightlight">
				<Div class="clicky-card-link">
					<Card Padding="Padding.Is2" Margin="Margin.Is2">
						<CardImage src="thumbnails/other/cgmnightlight.png" Alt="CGM Nightlight Thumbnail" />
						<CardBody>
							<CardTitle>
								<Heading Size="HeadingSize.Is5">Continuous Glucose Monitor Nightlight</Heading>
							</CardTitle>
							<CardText>
								Javascript, IFTTT
							</CardText>
						</CardBody>
					</Card>
				</Div>
				</Link>
			</Column>
			<Column ColumnSize="ColumnSize.IsHalf">
				@*My Portfolio Site!*@
				<Link To="projects/myportfoliosite">
				<Div class="clicky-card-link">
					<Card Padding="Padding.Is2" Margin="Margin.Is2">
						<CardImage src="thumbnails/other/portfoliosite.png" Alt="CGM Nightlight Thumbnail" />
						<CardBody>
							<CardTitle>
								<Heading Size="HeadingSize.Is5">My Portfolio Site</Heading>
							</CardTitle>
							<CardText>
								Microsoft Blazor, C#, Razor, ASP.NET, Visual Studio, Git
							</CardText>
						</CardBody>
					</Card>
				</Div>
				</Link>
			</Column>
		</Row>
	</Container>
</Animate>