@page "/projects"

<Animate Auto Animation="GlobalVariables.PageAnimation">
	<Container TextAlignment="TextAlignment.Center">
		<Row VerticalGutter="32">
			<Column ColumnSize="ColumnSize.IsHalf">
				@*Pizza Delivery Bagel Button*@
				<Div class="clicky-card">
					<Card Background="Background.White" Padding="Padding.Is2" Margin="Margin.Is2" @onclick="ShowPizzaDeliveryBagelPopup">
						<CardImage src="thumbnails/games/pizzadeliverybagel.gif" Alt="Pizza Delivery Bagel Thumbnail" />
						<CardBody>
							<CardTitle>
								<Heading Size="HeadingSize.Is5">Pizza Delivery Bagel</Heading>
							</CardTitle>
							<CardText>
								C#, Unity, Wwise, Visual Studio, Git
							</CardText>
						</CardBody>
					</Card>
				</Div>
			</Column>
			<Column ColumnSize="ColumnSize.IsHalf">
				@*Project 9th Monday Button*@
				<Div class="clicky-card">
					<Card Background="Background.White" Padding="Padding.Is2" Margin="Margin.Is2" @onclick="ShowProject9thMondayPopup">
						<CardImage src="thumbnails/games/project9thmonday.gif" Alt="Project 9th Monday Thumbnail" />
						<CardBody>
							<CardTitle>
								<Heading Size="HeadingSize.Is5">Project 9th Monday</Heading>
							</CardTitle>
							<CardText>
								C#, Unity, Wwise, Visual Studio, Git
							</CardText>
						</CardBody>
					</Card>
				</Div>
			</Column>
		</Row>
		<Row VerticalGutter="32">
			<Column ColumnSize="ColumnSize.IsHalf">
				@*The Eaterer Button*@
				<Div class="clicky-card">
					<Card Background="Background.White" Padding="Padding.Is2" Margin="Margin.Is2" @onclick="ShowEatererPopup">
						<CardImage src="thumbnails/games/theeaterer.gif" Alt="The Eaterer Thumbnail" />
						<CardBody>
							<CardTitle>
								<Heading Size="HeadingSize.Is5">The Eaterer</Heading>
							</CardTitle>
							<CardText>
								C#, Unity, Visual Studio, Git
							</CardText>
						</CardBody>
					</Card>
				</Div>
			</Column>
			<Column ColumnSize="ColumnSize.IsHalf">
				@*Monkey Man Enclosure Button*@
				<Div class="clicky-card">
					<Card Background="Background.White" Padding="Padding.Is2" Margin="Margin.Is2" @onclick="ShowMonkeyManEnclosurePopup">
						<CardImage src="thumbnails/games/monkeymanenclosure.gif" Alt="Monkey Man Enclosure Thumbnail" />
						<CardBody>
							<CardTitle>
								<Heading Size="HeadingSize.Is5">Monkey Man Enclosure</Heading>
							</CardTitle>
							<CardText>
								C#, Unity, Visual Studio, Git
							</CardText>
						</CardBody>
					</Card>
				</Div>
			</Column>
		</Row>
	</Container>
</Animate>

@*Pizza Delivery Bagel Popup*@
<Modal @bind-Visible="@pizzaDeliveryBagelVisible">
	<ModalContent Size="ModalSize.ExtraLarge">
		<ModalHeader>
			<ModalTitle>Pizza Delivery Bagel</ModalTitle>
			<CloseButton />
		</ModalHeader>
		<ModalBody>
			<Blazor_Portfolio_Site.Writeups.PizzaDeliveryBagel />
		</ModalBody>
	</ModalContent>
</Modal>

@*The Eaterer Popup*@
<Modal @bind-Visible="@eatererVisible">
	<ModalContent Size="ModalSize.ExtraLarge">
		<ModalHeader>
			<ModalTitle>The Eaterer</ModalTitle>
			<CloseButton />
		</ModalHeader>
		<ModalBody>
			<Blazor_Portfolio_Site.Writeups.TheEaterer />
		</ModalBody>
	</ModalContent>
</Modal>

@*Project 9th Monday Popup*@
<Modal @bind-Visible="@project9thMondayVisible">
	<ModalContent Size="ModalSize.ExtraLarge">
		<ModalHeader>
			<ModalTitle>Project 9th Monday</ModalTitle>
			<CloseButton />
		</ModalHeader>
		<ModalBody>
			<Blazor_Portfolio_Site.Writeups.Project9thMonday />
		</ModalBody>
	</ModalContent>
</Modal>

@*Monkey Man Enclosure Popup*@
<Modal @bind-Visible="@monkeyManEnclosureVisible">
	<ModalContent Size="ModalSize.ExtraLarge">
		<ModalHeader>
			<ModalTitle>Monkey Man Enclosure</ModalTitle>
			<CloseButton />
		</ModalHeader>
		<ModalBody>
			<Blazor_Portfolio_Site.Writeups.MonkeyManEnclosure />
		</ModalBody>
	</ModalContent>
</Modal>

@code {
	private bool pizzaDeliveryBagelVisible;
	private void ShowPizzaDeliveryBagelPopup() {
		pizzaDeliveryBagelVisible = true;
	}
	private void HidePizzaDeliveryBagelPopup() {
		pizzaDeliveryBagelVisible = false;
	}

	private bool eatererVisible;
	private void ShowEatererPopup() {
		eatererVisible = true;
	}
	private void HideEatererPopup() {
		eatererVisible = false;
	}

	private bool project9thMondayVisible;
	private void ShowProject9thMondayPopup() {
		project9thMondayVisible = true;
	}
	private void HideProject9thMondayPopup() {
		project9thMondayVisible = false;
	}

	private bool monkeyManEnclosureVisible;
	private void ShowMonkeyManEnclosurePopup() {
		monkeyManEnclosureVisible = true;
	}
	private void HideMonkeyManEnclosurePopup() {
		monkeyManEnclosureVisible = false;
	}
}