@page "/resume"
@inherits PageBase

<Animate Auto Animation="GlobalVariables.PageAnimation">
	<Div Margin="Margin.Is1" />

	@*Open Externally Button*@
	<Container Width="Width.Is25" TextAlignment="TextAlignment.Center">
		<Link To="pdfs/Sammy Mahmoudi Resume.pdf" Target="Target.Blank">
		<Div class="clicky-card-link" style="padding: 5px 0px 0px 0px">
			<Heading Size="HeadingSize.Is6" VerticalAlignment="VerticalAlignment.Middle">
				<Icon Name="IconName.ExternalLinkSquareAlt" /> Open
			</Heading>
		</Div>
		</Link>
	</Container>

	@*Resume*@
	<Container Width="Width.Is75" Padding="Padding.Is2">
		<Card Padding="Padding.Is2" Width="Width.Max100">
			<iframe class="resume" src="pdfs/Sammy Mahmoudi Resume.pdf"/>
		</Card>
	</Container>
</Animate>
